wp-config.php
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

node_modules/
assets/

/license.txt
/readme.html
/sitemap.xml

.DS_Store
ehthumbs.db
Thumbs.db
error_log

*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.sublime-project
*.sublime-workspace
*.komodoproject
.vscode/*