/**
 * Copyright to Kesato Team
 *
 * Developed with love by https://github.com/Pradnyana28
 * Kesato's Front End Developer
 *
 * Supra concept
 * Version: 0.1.0
 */
@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

p {
  line-height: 1.6;
  font-size: 14px;
  font-weight: 200;
}

.overflow-hidden {
  overflow: hidden;
}

.preloader {
  display: flex;
  background: #9c2464;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 55;
}
.preloader .loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 0.2em;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-505, 50%);
}
.preloader .loader::before, .preloader .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #FFF;
  position: absolute;
  -webkit-animation: load 0.7s infinite alternate ease-in-out;
  animation: load 0.7s infinite alternate ease-in-out;
}
.preloader .loader::before {
  top: 0;
}
.preloader .loader::after {
  bottom: 0;
}

.kst-header {
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.kst-header .navbar-top {
  padding: 10px 0;
  height: 48px;
  background-image: linear-gradient(to right, #570d34, #9c2464);
}
.kst-header .navbar-top ul {
  margin: 0;
  padding: 0;
  float: right;
}
.kst-header .navbar-top ul li {
  list-style-type: none;
  float: left;
  padding: 0 8px;
  text-transform: uppercase;
}
.kst-header .navbar-top ul li a {
  color: #FFF;
}
.kst-header .logo-wrapper {
  position: absolute;
  top: 0;
  width: 196px;
  background: #FFF;
  padding: 20px;
}
.kst-header .logo-wrapper a {
  color: #FFF;
  font-size: 30px;
}
.kst-header .logo-wrapper .logo {
  width: 100%;
}
.kst-header .main-menu {
  width: 100%;
  background: #FFF;
  padding: 18px 0;
}
.kst-header .main-menu ul {
  list-style-type: none;
  float: right;
  padding: 0;
  margin: 0;
}
.kst-header .main-menu ul li {
  float: left;
  padding: 0 10px;
  position: relative;
  transition: all 1s ease-in;
  text-transform: uppercase;
}
.kst-header .main-menu ul li a {
  color: #000;
  text-decoration: none;
  align-items: center;
}
.kst-header .main-menu ul li ul {
  display: none;
  position: absolute;
  left: -25px;
  padding: 35px 3px;
}
.kst-header .main-menu ul li ul li {
  margin: 0;
  padding: 15px 0 15px 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  border-left: 0;
  width: 250px;
  background: #9c2464;
}
.kst-header .main-menu ul li:hover ul {
  display: block;
}
.kst-header .main-menu ul li:hover ul li a {
  transition: all 0.4s ease-in-out;
}
.kst-header .main-menu ul li:hover ul li a:hover {
  display: block;
  color: #000;
  text-indent: 10px;
  border-left: 5px solid #FFF;
}
.kst-header .sign-in a {
  color: #FFF;
}

.btn {
  text-transform: uppercase;
  border-width: 2px;
}
.btn.btn-default {
  background-image: linear-gradient(to right, #570d34, #9c2464);
  color: #FFF;
}
.btn.btn-default-outline {
  background-color: transparent;
  border: 2px solid #9c2464;
  color: #9c2464;
}
.btn.btn-default-outline:hover {
  background-image: linear-gradient(to right, #570d34, #9c2464);
  color: #FFF;
}
.btn.btn-hover-outline:hover {
  background: transparent;
  color: #9c2464;
  border-color: #9c2464;
}

.section {
  margin-bottom: 40px;
}
.section .section-title {
  font-weight: 700;
  margin-bottom: 20px;
}
.section .section-subtitle {
  margin: 0;
  padding: 0;
}
.section .section-image {
  margin-top: 40px;
  width: 80%;
}

.kesato-card {
  border: 4px solid transparent;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 20px 0 rgba(31, 10, 72, 0.16);
  box-shadow: 0 0 20px 0 rgba(31, 10, 72, 0.16);
}
.kesato-card .card-image {
  height: 240px;
  overflow: hidden;
}
.kesato-card .card-image img {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  object-fit: cover;
  -o-object-fit: cover;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.kesato-card .card-body .card-title {
  text-transform: uppercase;
}
.kesato-card:hover {
  border: 4px solid #9c2464;
}
.kesato-card:hover .card-image {
  z-index: -2;
}
.kesato-card .card-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: -1;
}

.default-color {
  color: #9c2464;
}

.image-2x {
  width: 90% !important;
}

.align-right {
  text-align: right;
}

.text-bold {
  font-weight: 700;
}

@media (max-width: 991px) {
  .logo {
    float: left;
  }

  .menu-button {
    float: right;
  }
}

/*# sourceMappingURL=kesato.css.map */
