.default-color {
    color: $brand-color;
}

.pull-right {
    text-align: right;
}

.image-2x {
    width: 90% !important;
}

.align-right {
    text-align: right;
}

.text-bold {
    font-weight: 700;
}

.line-horizontal {
    content: ' ';
    height: 10px;
    width: 90%;
    background-image: $gradient-brand-color;
    margin: 8% 0;
}

.subtitle-max {
    max-width: 600px;
    margin: 0 auto;
}

.br-4 {
    border-radius: 4px;
}

.no-br {
    border-radius: 0;
}