.cestm-breadcrumbs {
    background-image: $gradient-to-top-brand-color;

    ul {
        overflow: hidden;
        border-bottom: 2px solid $light-grey;

        li {
            float: left;
            padding: 14px 20px;
            border-right: 2px solid $light-grey;
            color: #ffffff;
            transition: 0.4s;
            position: relative;
            align-items: center;

            a {
                text-decoration: none;
            }

            &:after {
                content: ' \203A';
                font-size: 15px;
                margin-left: 10px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                border-right: none;

                &:after {
                    content: '' !important;
                }
            }

            &.with-hover:hover {
                a { 
                    border-bottom: 2px solid #ffffff; 
                }
            }
        }
    }
}