.btn {
    text-transform: uppercase;
    border-width: 2px;

    &.btn-default {
        background-image: $gradient-brand-color;
        color: #FFF;
    }

    &.btn-default-outline {
        background-color: transparent;
        border: 2px solid $brand-color;
        color: $brand-color;

        &:hover {
            background-image: $gradient-brand-color;
            color: #FFF;
        }
    }

    &.btn-hover-outline:hover {
        background: transparent;
        color: $brand-color;
        border-color: $brand-color;
    }
}